h1, h2 {
    font-family: "roboto mono"; 
    font-weight: 350;
}

h1 {
    padding-left: 85px;
    padding-top: 30px;
}

h2 {
    font-size: 15px;
    padding-left: 90px;
    line-height: 0px;
}

h3 {
    font-family: "roboto mono"; 
    font-weight: 350;
    font-size: 14px; 
    position: relative; 
}

.month {
    text-align: center;
    font-size: 14px;
    bottom: 180px; 
    left: 500px;
    position: absolute; 
    z-index: 5; 
}

html, body {
  width: 1100px;
  height: 750px;
  margin: 0; 
  overflow: hidden; 
}

body {
    max-width: 1200px; 
    max-height: 750px; 
}

section p {
    font-size: 12px; 
    font-family: "roboto mono"; 
    font-weight: 350;
    position: relative; 
}

.grid {
    width: 100%; 
    display: block; 
    /* margin: auto;  */
    /* padding-bottom: 500px;  */
    /* z-index: 1;  */
    position: relative; 
}

.monthNames {
    display: flex; 
    margin: auto; 
    max-width: 1100px;
    position: absolute; 
    top: 20px; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 575px 110px; 
    box-sizing: border-box;
    z-index: 5;

}

.triangles img{
    max-width: 80px; 
    z-index: 3;
    position: relative; 
}

.triangles {
    position: absolute;
    bottom: 110px; 
    left: 100px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}



.circles img {
    max-width: 100px; 
    visibility: hidden; 
    z-index: 4; 
    position: relative; 
}

.chart {
    position: relative;
    width: 1100px;
    margin: -110px auto 100px auto;
}

.miles {
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    top: 440px;
    left: 45px;
}
