h1, h2 {
    font-family: "roboto mono"; 
    font-weight: 350;
}

h1 {
    padding-left: 85px;
    padding-top: 30px;
}

h2 {
    font-size: 15px;
    padding-left: 90px;
    line-height: 0px;
}

h3 {
    font-family: "roboto mono"; 
    font-weight: 350;
    font-size: 14px;  
}

html, body {
  width: 1100px;
  height: 750px;
  margin: 0; 
  /* overflow: hidden;  */
}

section p {
    font-size: 12px; 
    font-family: "roboto mono"; 
    font-weight: 350;
    position: relative; 
}

.grid {
    max-width: 1000px; 
    display: block; 
    top: 150px;
    left: 50px; 
    z-index: 1; 
    position: relative; 
}

.monthNames {
    display: flex; 
    position: absolute; 
    top: 610px; 
    left: 110px; 
    display: flex;
    justify-content: space-between;
    gap: 23px;
    box-sizing: border-box;
    z-index: 5;

}

.monthNames p {
    width: 100px; 
}

.triangles {
    position: absolute;
    top: 417px;
    left: 100px;

    display: flex;
    gap: 38px;

    align-items: flex-end;
}

.tri {
    height: 200px;          
    display: flex;
    align-items: flex-end;    
    overflow: visible;
}

.triangles img {
    height: 114px;
    transform-origin: bottom center; 
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.tri img {
    height: 114px; 
    transform-origin: bottom center; 
    transition: transform 0.3s ease; 
    position: relative;
}

.tri img:hover {
    cursor: pointer;
}

.circles img {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;  
    visibility: hidden;
}

.circles {
    position: absolute;
    top: 40px;     
    right: 40px;   
    width: 300px;
    z-index: 10;
}

/* .showing {
    display: block; 
} */

.chart {
    position: relative;
    width: 100%; 
    height: 600px; 
    margin: -110px auto 100px auto;
}

.miles {
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    top: 390px;
    left: 30px;
}

.month {
    text-align: center;
    position: relative; 
    font-size: 14px;
    top: 160px;
    z-index: 6; 
    
}


/* // from mahima  */

.point{
  width: 4em;
  height: 4em;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: calc(((var(--pos)/50)*100) * 1%);  
}

