h1, h2 {
    font-family: "roboto mono"; 
    font-weight: 350;
}

h1 {
    padding-left: 85px;
    padding-top: 30px;
}

h2 {
    font-size: 15px;
    padding-left: 90px;
    line-height: 0px;
}

h3 {
    font-family: "roboto mono"; 
    font-weight: 350;
    font-size: 14px;  
}

html, body {
  width: 1100px;
  height: 750px;
  margin: 0; 
  overflow: hidden; 
}

section p {
    font-size: 12px; 
    font-family: "roboto mono"; 
    font-weight: 350;
    position: relative; 
}

.grid {
    max-width: 1000px; 
    display: block; 
    top: 150px;
    left: 50px; 
    z-index: 1; 
    position: relative; 
}

.monthNames {
    display: flex; 
    position: absolute; 
    top: 610px; 
    left: 110px; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    z-index: 5;

}

.monthNames p {
    width: 100px; 
}

.triangles img{
    max-width: 80px; 
    z-index: 3;
    position: relative; 
}

.triangles {
    position: absolute;
    top: 525px; 
    left: 100px;
    width: 100%;
    display: flex;
    gap: 38px;
}

.circles img {
    max-width: 200px; 
    visibility: hidden; 
    z-index: 4; 
    position: relative; 
    bottom: 300px; 
    left: 600px; 
}

/* .showing {
    display: block; 
} */

.chart {
    position: relative;
    width: 100%; 
    height: 600px; 
    margin: -110px auto 100px auto;
}

.miles {
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    top: 390px;
    left: 30px;
}

.month {
    text-align: center;
    position: relative; 
    font-size: 14px;
    top: 160px;
    z-index: 6; 
    
}