/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


/* Page styling */
body {
    /* background-color: #4d261f; */
    /* background-color: #e7d1ba; */
    background-color: #8c3827;
    /* background-color: #ddebf1; */
    /* color: rgb(67, 65, 33); */
    transition: all 2s;
    font-family: "DM sans";
    font-weight: 200;
    margin: auto; 
    max-width: 1000px; 
}

h3 {
    color: #8c3827;
    font-size: 1.5em;
    margin-top: -2px; 
    margin-bottom: -2.5px;
    font-weight: 500;
    background-color: #a0c7f8; 
    border-radius: 5px;
    max-width: 170px;
    padding: 5px; 
    /* text-align: center; */
}

body.switch h3 {
    background-color: #8c3827;
    color: #a0c7f8; 
}

h1 {
    /* color: rgb(204, 190, 190);  */
    color: #a0c7f8; 
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.2em; 
}

body.switch h1 {
    color: #8c3827;
}

h2 {
    margin-top: 0; 
    font-weight: 300;
    color: rgb(204, 190, 190);
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 0em auto;
    padding-top: 1em;
}

header {
    margin: 0 auto 1em auto;

}
/* //top section  */
#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 1200px;
    height: 250px; */
    /* margin: auto; */
    /* background-color: rgb(235, 235, 235); */
    color: #333;
    overflow: hidden;
    /* display: grid;
	place-items: center; */
}

#banner.switch {
    background: none;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 15px; 
    margin: 2em auto;
}

main section {
    flex: 1;
    /* border: 1px rgb(235, 235, 235) solid; */
    border-radius: 30px;
    margin: 0 .25em;
    padding: 1em;
    max-width: 300px; 
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    /* padding-left: 1.2em; */
}

section a {
    line-height: 0.5em;
    display: inline-block;
    padding: .5em;
    color: rgb(226, 215, 194);
}

section a:hover {
    background-color: #a0c7f8; 
    color: #8c3827;
    border-radius: 5px;
}

section.switch a {
    color: #4f4236; 
}

body.switch h2 {
    color: #4f4236; 
}

section.switch a:hover {
    background-color: #8c3827;; 
    color: rgb(235, 235, 235);
}

body.switch {
    /* background-color: #6bb5de;  */
    background-color: #a0c7f8;
}

button {
    position: absolute;
    top: 5px;
    right: 20px;

    padding: 0px;
    max-width: 200px;
    background: none; 
    border: none; 
    cursor: pointer; 
}

button:hover {
    /* background-color: coral; */
    cursor: pointer;
}

button.switch {
    background: none; 
}

button.switch:hover {
    background: none 
}

.horsebanner {
    display: flex;
    margin-left: -20px; 
}

.horsepic {
    max-width: 150px;
}



/* animations  */

button.spin {
    animation: spin 0.6s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* horse hover scale change */

button img {
    transition: transform 0.3s ease;
}

button:hover img {
    transform: scale(1.1);
}