#video1 {
    position: fixed; 
    pointer-events: none; 
    min-width: 100%; 
    min-height: 100%; 
    right: 0; 
    bottom: 0;
    z-index: 1;
    filter: grayscale(100%); 
    }

    body p {
        font-family: Roboto Mono;
    }

.grayscaleSwitch {
    filter: grayscale(100%); 
}

.fa-expand-alt {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 30px; 
    color: rgb(135, 56, 0); 
    z-index: 2; 
}

section {
    position: absolute; 
    z-index: 3;
}

.hidden {
    opacity: 0; 
}

.showing {
    opacity: 1; 
}



