#video1 {
    position: fixed; 
    pointer-events: none; 
    min-width: 100%; 
    min-height: 100%; 
    right: 0; 
    bottom: 0;
    z-index: 1;
    /* filter: grayscale(100%);  */
    }

/* p {
    font-family: Roboto Mono;
    color: white; 
    position: absolute;
    opacity: 0; 
} */

p {
    position: absolute;
    color: white; 
    z-index: 10;
    opacity: 0;
    font-family: Roboto Mono;
    font-weight: 500;
}

.line1 p,
.line2 p,
.line3 p,
.line4 p {
    opacity: 0;
    position: absolute;
    color: white; 
    z-index: 10;
}

.showing p {
    opacity: 1;
}

.hidden p {
    opacity: 0;
}

.grayscaleSwitch {
    filter: grayscale(100%); 
    transition: filter 0.5s ease;
}

.fa-expand-alt {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 30px; 
    color: #ef3b24; 
    z-index: 10; 
    cursor: pointer; 
}

section {
    position: absolute; 
    z-index: 5;
    width: 100%;
    height: 100%; 
    cursor: crosshair;
}

.hidden {
    opacity: 0; 
}

.showing {
    opacity: 1; 
}

img {
    max-width: 600px; 
    opacity: 0; 
}

section img {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}





